.userInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.userInfo {
  border: 1px solid var(--inactive-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 16px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .userInfo {
    width: 394px;
    border-color: var(--title-color);
  }
}

.userAvatarContainer {
  position: relative;
}

.changeAvatarWrapper {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: calc(50% - 14px);
  transform: translateY(50%);

  border-radius: 30px;
  width: 28px;
  height: 28px;
  background: var(--title-color);
}

.changeAvatarWrapper::before,
.changeAvatarWrapper::after {
  content: "";
  position: absolute;
  background: var(--white-color);
  width: 11px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.changeAvatarWrapper::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.userName {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--title-color);
}

.userInfoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.userInfoListTitle {
  font-size: 12px;
  line-height: 1.5;
  color: var(--inactive-color);
}

.userInfoListValue {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: var(--inactive-color);
  text-transform: lowercase;
}

@media screen and (min-width: 768px) {
  .userInfoListValue {
    color: var(--title-color);
  }
}
