.userCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userCardInfo {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.userAvatar {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.userName {
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--title-color);
}

.userRecipes {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: var(--inactive-color);
}

.userRecepiesTop {
  display: none;
  flex-direction: row;
  gap: 12px;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.userRecepiesTopItem {
  display: none;
}

.userRecepiesTopItemImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .userCard {
    justify-content: flex-start;
    gap: 61px;
  }

  .userRecepiesTop {
    display: flex;
  }

  .userRecepiesTopItem {
    display: block;
  }
  .userCardButtons {
    margin-left: auto;
  }
}
