.avatarIcon {
  border-radius: 50%;
  background-color: #f5f2f2; /* TODO: move to index */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  font-weight: 600;
  color: var(--title-color);
  cursor: pointer;
  user-select: none; /* disables text selection */
  object-fit: cover;
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.57);
}

.avatarIcon.small,
.avatarIcon.xsmall {
  width: 32px;
  height: 32px;
  font-size: 24px;
}

.avatarIcon.medium {
  width: 60px;
  height: 60px;
  font-size: 32px;
}

.avatarIcon.large {
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .avatarIcon.xsmall {
    width: 40px;
    height: 40px;
  }
  .avatarIcon.small {
    width: 50px;
    height: 50px;
  }
  .avatarIcon.medium {
    width: 85px;
    height: 85px;
  }
  .avatarIcon.large {
    width: 120px;
    height: 120px;
    font-size: 90px;
  }
}

.link {
  flex-shrink: 0;
}
