.avatarIcon {
  border-radius: 50%;
  background-color: var(--inactive-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  font-weight: 600;
  color: #000;
}

.avatarIcon.small,
.avatarIcon.xsmall {
  width: 32px;
  height: 32px;
}

.avatarIcon.medium {
  width: 60px;
  height: 60px;
}

.avatarIcon.large {
  width: 80px;
  height: 80px;
}

@media (min-width: 768px) {
  .avatarIcon.xsmall {
    width: 40px;
    height: 40px;
  }
  .avatarIcon.small {
    width: 50px;
    height: 50px;
  }
  .avatarIcon.medium {
    width: 85px;
    height: 85px;
  }
  .avatarIcon.large {
    width: 120px;
    height: 120px;
  }
  .avatarIcon {
    width: 120px;
    height: 120px;
  }
}
