.tabsList {
  text-transform: uppercase;
}

.tabsScroll {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 16px;
  margin-bottom: -16px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tabsListItems {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  text-wrap: nowrap;
  position: relative;
}
.tabSpacer {
  min-width: 100px;
  pointer-events: none;
}
