.categoriesList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    & > :nth-child(5n + 3) {
      grid-column: 1 / -1;
    }
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
      width: 325px;
    }

    & > :nth-child(12n + 3),
    & > :nth-child(12n + 4),
    & > :nth-child(12n + 8),
    & > :nth-child(12n + 10) {
      width: 590px;
    }
  }
}
