.tabItem {
  color: var(--inactive-color);
  padding: 0;
  padding-bottom: 14px;
}

.tabItem.active {
  color: var(--title-color);
  position: relative;
}

.tabItem:hover {
  cursor: pointer;
}

.tabItem:focus {
  outline: none;
}
.tabItem.active::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--title-color);
  z-index: 1000;
}
