.recipeFilters {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* flex-direction: row;

        gap: 20px; */
    }
    @media screen and (min-width: 1440px) {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}