.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  border: 1px solid var(--inactive-color);
  transition: var(--color-transition), var(--background-transition), var(--border-transition);
}

.iconLink.white {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.iconLinkIcon {
  width: 16px;
  height: 16px;
  fill: var(--text-color);
  stroke: var(--text-color);
  transition: var(--stroke-transition), var(--fill-transition);
}

.iconLinkIcon.black {
  fill: none;
}

.iconLinkIcon.white {
  stroke: var(--white-color);
}

@media screen and (min-width: 768px) {
  .iconLink {
    width: 42px;
    height: 42px;
  }

  .iconLinkIcon {
    width: 18px;
    height: 18px;
  }

  .iconLink.white {
    width: 44px;
    height: 44px;
  }

  .iconLink.social {
    width: 40px;
    height: 40px;
  }
}

.iconLink:hover,
.iconLink:focus {
  border-color: var(--text-color);
  background-color: var(--text-color);
}

.iconLink:hover .iconLinkIcon,
.iconLink:focus .iconLinkIcon {
  stroke: var(--white-color);
}

.iconLink.social:hover,
.iconLink.social:focus {
  border-color: var(--text-color);
  background-color: var(--text-color);
}

.iconLink.social:hover .iconLinkIcon,
.iconLink.social:focus .iconLinkIcon {
  stroke: var(--white-color);
  fill: var(--white-color);
}

.iconLink.disabled {
  opacity: 0.7;
  stroke: var(--inactive-color);
  color: var(--inactive-color);
  pointer-events: none;
}
