.mainTitle {
    font-weight: 800;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media (min-width: 768px) {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.02em;
        margin-bottom: 20px;

    }

   
}