.addRecipeForm {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

.photoUpload {
    border: 1px dashed #BFBEBE;
    border-radius: 30px;
    width: 551px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .uploadText {
    text-decoration: underline;
  }