.addRecipeForm {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.formAdd {
  display: flex;
  flex-direction: column;
}

.fieldsGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.formGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 32px;
  text-align: left;
}

.formCategoryCookingtime,
.formGroupArea {
  margin-bottom: 0;
}

.formCategory,
.formArea,
.formCookingtime,
.formIngredients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  margin-bottom: 20px;
}

.category,
.area,
.cookingtime,
.ingredients,
.titleRecipePreparation,
.formGroup > label {
  font-weight: 800;
  text-transform: uppercase;
}

.titleInput {
  width: 100%;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 800;
}

input:focus,
textarea:focus {
  outline: none;
}

::placeholder {
  color: var(--inactive-color);
}

.descriptionWrapper,
.formQuantity,
.textareaWrapper {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 36px;
  align-items: baseline;
  border-bottom: 1px solid var(--inactive-color);
}

.textareaWrapper {
  margin-top: 32px;
}

.description,
.recipePreparation,
.quantity {
  font-size: 14px;
  width: 100%;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
}

.description,
.recipePreparation {
  resize: none;
  overflow: hidden;
  transition: height 0.2s ease;
}

.formRecipePreparation {
  margin-top: 32px;
}

.timeInput {
  width: 44px;
  border: none;
  font-size: 14px;
  text-align: center;
}

.wordsCounterInside {
  font-size: 14px;
  color: var(--inactive-color);
  width: 53px;
  text-align: end;
}

.wordsCounterActive {
  color: var(--title-color);
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* ingredientList */
.ingredientList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .ingredientList {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }
}

.ingredientCard {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ingredientImage {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 1px solid var(--inactive-color);
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .ingredientImage {
    width: 90px;
    height: 90px;
  }
}

.ingredientDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .ingredientDetails {
    font-size: 16px;
  }
}

.ingredientName {
  font-weight: 500;
  color: var(--title-color);
}

.ingredientQty {
  color: var(--inactive-color);
}

.removeButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
  stroke: var(--title-color);
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
  background-color: #fff;
  bottom: -8px;
  left: 15px;
  z-index: 1;
  padding: 0 5px;
}

.inputError {
  border-bottom: 1px solid red;
}

@media screen and (min-width: 768px) {
  .formGroup > .formCategory,
  .formGroup > .formCookingtime,
  .formGroup > .formIngredients,
  .formGroup > .formQuantity,
  .formGroup > .formArea {
    margin-bottom: 0;
  }

  .formGroup {
    margin-bottom: 40px;
  }

  .descriptionWrapper,
  .formQuantity,
  .textareaWrapper {
    min-height: 40px;
  }

  .formGroup.formDescription,
  .formGroup.formCategoryCookingtime,
  .formGroup.formGroupArea {
    margin-bottom: 60px;
  }

  .formGroup.formIngredientsQuantity {
    margin-bottom: 40px;
  }

  .formGroup.formCategoryCookingtime,
  .formGroup.formIngredientsQuantity {
    flex-direction: row;
    gap: 19px;
  }

  .formGroup.formIngredientsQuantity {
    align-items: end;
  }

  .formCategory,
  .formArea,
  .formCookingtime,
  .formIngredients,
  .formQuantity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 315px;
  }

  .addRecipeForm {
    flex-direction: row;
  }

  .formGroup.formRecipePreparation {
    margin-top: 40px;
  }

  .formGroup.formRecipePreparation {
    margin-bottom: 80px;
  }

  .textareaWrapper {
    margin-top: 40px;
  }

  .formGroup.formGroupSubmit {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .formAdd {
    flex-direction: row;
    gap: 80px;
  }

  .wrapper {
    margin-bottom: 0;
  }

  .titleInput {
    font-size: 24px;
  }

  .formGroup {
    width: 649px;
  }

  .category,
  .area,
  .cookingtime,
  .ingredients,
  .titleRecipePreparation,
  .formGroup > label {
    font-size: 20px;
  }
  .description,
  .recipePreparation,
  .quantity {
    font-size: 16px;
  }

  .formCategoryCookingtime {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .formIngredientsQuantity {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 32px;
  }
}
