.recipePagination { 
    display: flex;
    justify-content: center;
    gap: 10px;
}

.recipePaginationItem {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.17rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipePaginationItem.active {
    border: 1px solid var(--title-color);
    border-radius: 50%;

}
