.testimonialsContainer {
  position: relative;
  max-width: 343px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 704px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 822px;
  }
}

.testimonialsSubtitle {
  font-size: 14px;
  line-height: 1.428;
  text-align: center;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.428;
  }
}

.testimonialsComment {
  font-size: 18px;
  line-height: 1.333;
  text-align: center;
  margin-bottom: 64px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 80px;
  }
}

.testimonialsIcon {
  position: absolute;
  top: 80px;
  left: 8px;
  width: 40px;
  height: 32px;
  fill: var(--inactive-color);

  @media screen and (min-width: 768px) {
    width: 59px;
    height: 48px;
    top: 76px;
    left: 40px;
  }
}

.testimonialsAuthor {
  font-weight: 800;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-color);

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.2;
  }
}

.customBullet {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: red;
  margin: 0 8px;
}

.customBulletActive {
  background: blue;
}
