.tabsContent {
  border-top: 1px solid var(--inactive-color);
  position: relative;
  z-index: 0;
}

.followButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.followButtonWrapper {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .followButtonWrapper {
    width: 394px;
  }
}

.userProfileInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userProfile {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .userProfile {
    gap: 80px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .userProfile {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 120px;
  }
}

.tabsWrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  .tabsWrapper {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .tabsWrapper {
    margin: 0;
    padding: 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0;
    width: auto;
    margin: 0;
  }
}

.section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 0 80px;
    margin: 0 auto;
    width: 1440px;
  }
}

.tabsContainer {
  width: 100%;
}

.btn {
  width: 100%;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.btnLoadingActive {
  cursor: not-allowed;
  opacity: 0.7;
}
