.tabsContent {
  border-top: 1px solid var(--inactive-color);
}

.followButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.followButtonWrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .followButtonWrapper {
    width: 394px;
  }
}
.userProfileInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.userProfile {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (min-width: 768px) {
  .userProfile {
    gap: 80px;
  }
}

@media (min-width: 1440px) {
  .userProfile {
    flex-direction: row;
    gap: 40px;
  }
}

.userProfileTabsContainer {
  width: 100%;
}
