.tabsContent {
  border-top: 1px solid var(--inactive-color);
  position: relative;
  z-index: 0;
}

.tabContentActive {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 300ms ease, transform 300ms ease;
  width: 100%;
  height: 100%;
  position: absolute;
}

.tabContentActive.active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
}

.followButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.followButtonWrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .followButtonWrapper {
    width: 394px;
  }
}
.userProfileInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.userProfile {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (min-width: 768px) {
  .userProfile {
    gap: 80px;
  }
}

@media (min-width: 1440px) {
  .userProfile {
    flex-direction: row;
    gap: 40px;
  }
}

.userProfileTabsContainer {
  width: 100%;
}
