.breadcrumbs {
    display: flex;
    align-items: center;
    font-family: Mulish;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0px 0 40px 0;
    color: var(--title-color);
}

.breadcrumbs a {
    color: var(--inactive-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    transition: color 0.2s;
}

.breadcrumbs a:hover {
    color: var(--title-color);
}

.separator {
    margin: 0 8px;
    color: var(--inactive-color);
}

.active {
    font-family: Mulish;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -2%;
    text-transform: uppercase;

    color: var(--title-color);
}