.breadcrumbs {
  display: flex;
  align-items: center;
  font-family: Mulish;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0px 0 40px 0;
  color: #050505;
}

.breadcrumbs a {
  color: #bfbebe;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  transition: color 0.2s;
}

.breadcrumbs a:hover {
  color: #050505;
}

.separator {
  margin: 0 8px;
  color: #bfbebe;
}

.active {
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;

  line-height: 18px;
  letter-spacing: -2%;
  text-transform: uppercase;

  color: #050505;
}
