:root {
  --white-color: #ffffff;
  --text-color: #1a1a1a;
  --title-color: #050505;
  --inactive-color: #bfbebe;

  --background-categories-color: #ffffff33;
  --transparent-white-color: rgba(255, 255, 255, 0.2);

  --color-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --stroke-transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --opacity-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --all-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --radius-card-mobile: 20px;
  --radius-card: 30px;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-color);
  font-size: 16px;
  letter-spacing: -0.02rem;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
button {
  display: block;
}

button {
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--title-color);
  border-radius: 4px;
}
