.ingredients-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ingredientList {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.ingredientListItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 143%;
  white-space: nowrap;
  gap: 10px;
  overflow: hidden;
}
.imgWrapper {
  border-radius: 8px;
  flex-shrink: 0;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.ingredientListImg {
  width: 55px;
  height: 55px;
  object-fit: contain;
  border-radius: 8px;
  flex-shrink: 0;
}

.ingredientsInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  text-align: left;
}

.ingredientName {
  color: var(--text-color);
}

.ingredientMeasure {
  color: var(--inactive-color);
}

@media (min-width: 768px) {
  .ingredientList {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .ingredientListImg {
    width: 60px;
    height: 60px;
  }
  .ingredientListItem {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .ingredientListItem .ingredientName {
    font-size: 1.2em;
  }

  .ingredientListItem .ingredientMeasure {
    font-size: 1em;
  }
}
